## Pre-process the BEL Dataset for Training

In [63]:
import pandas as pd

In [1]:
with open("data/bel-corpus.csv", 'r') as file:
    sensical = file.readlines()

with open("data/nonsense-bel-corpus.csv", 'r') as file:
    nonsensical = file.readlines()

In [2]:
sensical[0:10]

['\ufeffList 1\n',
 '1.\xa0\xa0\xa0\xa0 the PARK OPENS in ELEVEN MONTHS\n',
 '2.\xa0\xa0\xa0\xa0 the THIRSTY KID DRINKS JUICE\n',
 '3.\xa0\xa0\xa0\xa0 these BROWN MUSHROOMS TASTE AMAZING\n',
 '4.\xa0\xa0\xa0\xa0 the TRAIN is FAST and VERY DANGEROUS\n',
 '5.\xa0\xa0\xa0\xa0 the ANNOYING STUDENT ASKS many QUESTIONS\n',
 '6.\xa0\xa0\xa0\xa0 the PERFORMER WEARS COLORFUL DRESSES\n',
 '7.\xa0\xa0\xa0\xa0 a LAZY WORKER RESTS OFTEN\n',
 '8.\xa0\xa0\xa0\xa0 my DOCTOR WORKS in that BUSY HOSPITAL\n',
 '9.\xa0\xa0\xa0\xa0 he LOST his WHITE HAT TODAY\n']

In [55]:
def process_lines(lines):
    ans = [l.strip() for l in lines if not l.startswith('\ufeff')]
    ans = [l for l in ans if not l.startswith('List') ]
    ans = [l.split('\xa0')[-1].strip() for l in ans]

    def fix_case(s):
        s = s.split(' ')
        s = ' '.join([s[0].capitalize()] + [l.lower() for l in s[1:]])
        return s

    ans = [fix_case(l) + '.' for l in ans if len(fix_case(l)) > 0]
    return ans

In [56]:
sense_processed, nonsense_processed = process_lines(sensical), process_lines(nonsensical)

In [57]:
len(sense_processed), len(nonsense_processed)

(500, 500)

In [58]:
for idx, s in enumerate(nonsense_processed):
    if s == '.':
        print(idx)

In [64]:
d = {
        'input': sense_processed + nonsense_processed,
        'output': ["yes" for i in range(len(sense_processed))] + ["no" for i in range(len(sense_processed))]
    }
df = pd.DataFrame(data=d)
df

                                         input output
0             The park opens in eleven months.    yes
1                The thirsty kid drinks juice.    yes
2         These brown mushrooms taste amazing.    yes
3        The train is fast and very dangerous.    yes
4    The annoying student asks many questions.    yes
..                                         ...    ...
995        The boring knife upset their steak.     no
996     His mean daughter cleaned on families.     no
997         The tasty team will change easily.     no
998         A funny house runs with the movie.     no
999       The cold nanny scored the questions.     no

[1000 rows x 2 columns]

In [65]:
df.to_pickle("data/bel-sensicality.pkl")